---
// en esta página, se podrán crear nuevos eventos
import { db, EventEntry } from 'astro:db';
import BaseLayout from '../layouts/BaseLayout.astro';
import EventForm from '../components/EventForm.astro';
import EventGallery from '../components/EventGallery.astro';

---

<script>
    import { actions } from 'astro:actions';

    const form = document.getElementById('create-event-form') as HTMLFormElement;
    form?.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        try {
            console.log('Datos del formulario:', 
                'Título:', data.title,
                'Descripción:', data.description,
                'Información:', data.info,
                'Fecha:', data.date,
                'Ubicación:', data.location,
                'Precio:', data.price,
                'Oculto:', data.hidden
            );
            const result = await actions.event.createEventEntry(formData);

            // Éxito al crear el evento
            alert('Evento creado exitosamente');
            form.reset();

            // Recargar la página para mostrar el nuevo evento
            window.location.reload(); 

        } catch (error) {
            console.error('Error al crear el evento:', error);
            alert('Hubo un error al crear el evento. Por favor, inténtalo de nuevo.');
        }
    });
</script>

<BaseLayout pageTitle="Admin" description="Panel de administración para crear nuevos eventos y gestionar los existentes.">

    <h1 class="font-semibold text-black text-4xl p-5 text-center">
    Crear nuevo evento</h1>

    <EventForm />
    <EventGallery />

</BaseLayout>