---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageNav from '../components/PageNav.astro';
import Intro from '../components/Intro.astro';
import EventCard from '../components/EventCard.astro';

import { db, EventEntry } from 'astro:db';

export const prerender = false
const dbEvents = await db.select().from(EventEntry);

const pageTitle = "Eventos"
---

<BaseLayout 
	pageTitle={pageTitle} 
	description=`Una iglesia en Sevilla que hace discípulos que hacen discípulos.
	Existimos para glorificar a Dios, expandir su Reino y hacer completamente Su voluntad.`
>

	<!-- todo esto es el "slot" -->
	<Intro h1={pageTitle} />
	<PageNav />
	
	<!-- sección de eventos -->
	<section id="container"
		class="mx-12 py-5 h-auto">

		<div class="inline-flex flex-row flex-wrap gap-7 justify-center">
			{dbEvents.map((evento) => <EventCard event={evento} />)}
		</div>

	</section>

</BaseLayout>