---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageNav from '../components/PageNav.astro';
import Intro from '../components/Intro.astro';
import EventCard from '../components/EventCard.astro';

import { getCollection } from 'astro:content';

const events = await getCollection('events');

const pageTitle = "Eventos"
---

<BaseLayout 
	pageTitle={pageTitle} 
	description=`Una iglesia en Sevilla que hace discípulos que hacen discípulos.
	Existimos para glorificar a Dios, expandir su Reino y hacer completamente Su voluntad.`
>

	<!-- todo esto es el "slot" -->
	<Intro h1={pageTitle} />
	<PageNav />
	
	<!-- sección de eventos -->
	<section id="container"
		class="mx-12 py-5 min-h-80">

		<div class="inline-flex flex-row flex-wrap gap-7 justify-center">
			{events.map((e) => <EventCard event={e} />)}
		</div>

	</section>

</BaseLayout>