---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Inicio"
---

<BaseLayout>
	<h1>{pageTitle}</h1>
	<p>jeje esto es el inicio!! asi es</p>
</BaseLayout>
