---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PageNav from '../components/PageNav.astro';
import Intro from '../components/Intro.astro';

const pageTitle = "Iglesia Evangélica Bautista de Sevilla - Inicio";
---

<BaseLayout 
	pageTitle={pageTitle} 
	description=`Una iglesia en Sevilla que hace discípulos que hacen discípulos.
	Existimos para glorificar a Dios, expandir su Reino y hacer completamente Su voluntad.`
>
	<Intro />
	<p>jeje esto es el inicio!! asi es</p>
</BaseLayout>
