---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PageNav from '../components/PageNav.astro';
import Intro from '../components/Intro.astro';
import EventGallery from '../components/EventGallery.astro';

const pageTitle = "Iglesia Evangélica Bautista de Sevilla - Inicio";
---

<BaseLayout 
	pageTitle={pageTitle} 
	description=`Una iglesia en Sevilla que hace discípulos que hacen discípulos.
	Existimos para glorificar a Dios, expandir su Reino y hacer completamente Su voluntad.`
>
<!-- background="/iebs-conversacion-1.jpg" -->
	<Intro h1 = "¡Bienvenido!"/>

	<PageNav />
	<div id="container"
	class="min-h-80">

	</div>

	<EventGallery />

</BaseLayout>
