---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageNav from '../components/PageNav.astro';
import Intro from '../components/Intro.astro';

const pageTitle = "¿Quién es Jesús?"
---

<BaseLayout 
	pageTitle={pageTitle} 
	description=`Una iglesia en Sevilla que hace discípulos que hacen discípulos.
	Existimos para glorificar a Dios, expandir su Reino y hacer completamente Su voluntad.`
>
<Intro h1={pageTitle} />

	<PageNav />
	<div id="container"
	class="min-h-80">

	</div>

</BaseLayout>