---
import type { EventEntryType } from '../types.ts';
type Props = {
    event: EventEntryType;
};

const { event } = Astro.props;
---

<article class="
    bg-neutral-50 block
    w-80 h-50 p-6 
    border rounded-md shadow-sm
    hover:bg-neutral-200 transition duration-300"
    >
  <div>
    <h2 class="font-extrabold text-2xl">{event.title}</h2>
    <time 
    class="text-sm"
    datetime={event.date.toISOString()}>
      <small>{event.date.toLocaleDateString(undefined, {dateStyle: 'medium', timeZone: 'UTC'})}</small>
    </time>
    <p>{event.description}</p>
</div>
</article>