---
type Props = {
    evento: {
        title: string;
        description: string;
        date: Date;
    };
};

const { evento } = Astro.props;
// const { title, description, date } = event.data;
---

<article class="
    bg-neutral-50 block
    w-100 p-6
    border rounded-md shadow-sm
    hover:bg-neutral-200 transition duration-300"
    >
  <div>
    <h2 class="font-extrabold text-2xl">{evento.title}</h2>
    <time 
    class="text-sm"
    datetime={evento.date.toISOString()}>
      <small>{evento.date.toLocaleDateString(undefined, {dateStyle: 'medium', timeZone: 'UTC'})}</small>
    </time>
    <p>{evento.description}</p>
</div>
</article>