---
import Social from "./Social.astro"
---
<footer>
    <Social platform="facebook" username="@iebsevilla"/>
    <Social platform="instagram" username="iebsevilla"/>
    <Social platform="youtube" username="iebsevilla"/>
    <p>© 2026 Iglesia Evangelica Bautista de Sevilla. Todos los derechos reservados.</p>
</footer>

<style>
    footer {

    }
</style>