---
import hamburgerIcon from '../assets/hamburger-icon.svg';
---
<div>
    <img src={hamburgerIcon.src} alt="Hamburger Menu Icon" 
    class="
        sm: hidden
        h-6 w-6
        pr-5 cursor-pointer"/>
</div>