---

---
<nav class=`
    w-full h-auto
    flex-row inline-flex justify-end content-center items-center
    gap-4 text-[1rem] uppercase
    font-semibold
    `>
    <a href="/jesus">Jesús</a>
    <a href="/">Inicio</a>
    <a href="/conocenos/iglesia">Conócenos</a>
    <a href="/pgm/pgm">PGM</a>
    <a href="/eventos">Eventos</a>
    <a href="recursos">Recursos</a>
</nav>

<style>
    nav a {
        padding: 10px 5px;
        border-radius: 15%;
    }
    nav a:hover,
    nav a:focus {
        color: #62def4;
        transition: 400ms;
    }
</style>