---

---
<nav class=`
    w-full h-auto
    flex-row inline-flex justify-center content-center items-center
    gap-4 text-[1rem] uppercase
    text-white
    `>
    <a href="/jesus">Jesús</a>
    <a href="/">Inicio</a>
    <a href="/conocenos/iglesia">Conócenos</a>
    <a href="/pgm/presentacion">PGM</a>
    <a href="/eventos">Eventos</a>
    <a href="/recursos">Recursos</a>
</nav>

<style>
    nav a {
        padding: 10px 5px;
        border-radius: 15%;
    }
    nav a:hover,
    nav a:focus {
        /* color: #054da5; */
        font-weight: bold;
        transition: 200ms;
    }
</style>