<nav class="nav-links">
    <a href="/jesus">Jesus</a>
    <a href="/">Inicio</a>
    <a href="/conocenos/iglesia">Conócenos</a>
    <a href="/pgm/pgm">PGM</a>
    <a href="/eventos">Eventos</a>
    <a href="recursos">Recursos</a>
</nav>