---
const { section } = Astro.props;
---

<div class="
  inline-flex justify-center items-center align-middle
  h-10 w-full bg-gray-900
  p-1"
>
  <a href={`/`}>Page Nav</a>
</div>


<style>
  div a {
    color: white;
    text-decoration: none;
  }
</style>