---
export const prerender = false;

import EventGallery from "../../components/EventGallery.astro"
import AdminLayout from "../../layouts/AdminLayout.astro"

import { db, EventEntry, desc } from "astro:db";
const nextEvents = await db.select().from(EventEntry).orderBy(desc(EventEntry.date));

---
<AdminLayout pageTitle="Admin Dashboard">
    <section class="px-5 py-10">
        <div class="card">
            <h2 class="text-xl font-bold mb-4">Panel de Administración</h2>
            <p class="text-gray-600 mb-4">Bienvenido al panel de administración. Aquí puedes gestionar los eventos.</p>
            <a href="/admin/crearEvento" 
            class="w-40 rounded-md px-4 py-2
            bg-blue-400 text-white font-bold 
            hover:bg-blue-700 hover:font-bold transition-colors duration-300">
                + Nuevo evento
            </a>
        </div>

    </section>

    <EventGallery />


</AdminLayout>