---
import BaseLayout from "../../layouts/BaseLayout.astro"

---
<BaseLayout pageTitle="Admin Dashboard" description="Panel de administración para crear nuevos eventos y gestionar los existentes.">
    <section class="px-5 py-10">
        <a class="hover:font-bold" href="/admin/crearEvento">crear evento</a>

    </section>

</BaseLayout>